In [8]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report
import joblib

# STEP 1: Load your dataset
df = pd.read_csv("../data/student_career_dataset.csv")

# STEP 2: Fill missing values with 0 (recommended by your lecturer for real gaps)
df.fillna(0, inplace=True)

# STEP 3: Assign career label based on highest score
def assign_label(row):
    scores = {
        "DB": row["avg_db"],
        "AI": row["avg_ai"],
        "WEB": row["avg_web"],
        "SYS": row["avg_sys"],
        "CS": row["avg_cs"]
    }
    return max(scores, key=scores.get)

df["career_label"] = df.apply(assign_label, axis=1)

df

     stu_id  avg_db  avg_ai  avg_web  avg_sys  avg_cs career_label
0         1   63.93   53.50     0.00    56.67   32.67           DB
1         2   66.92   86.33     0.00    60.83    0.00           AI
2         3   79.33    0.00    94.67    75.50   75.22          WEB
3         4   78.50   70.00    72.67    62.75   47.33           DB
4         5   43.33   69.42    74.22    77.50   71.00          SYS
..      ...     ...     ...      ...      ...     ...          ...
195     196   76.67   81.00    64.89    72.22   49.33           AI
196     197   64.89   71.22    87.33     0.00   76.00          WEB
197     198   54.83   85.33     0.00    67.00   74.22           AI
198     199   74.17   83.83    76.33    64.50   67.78           AI
199     200   59.33   40.67    74.00    75.50   70.56          SYS

[200 rows x 7 columns]

In [4]:
# STEP 3: Assign career label based on highest score
def assign_label(row):
    scores = {
        "DB": row["avg_db"],
        "AI": row["avg_ai"],
        "WEB": row["avg_web"],
        "SYS": row["avg_sys"],
        "CS": row["avg_cs"]
    }
    return max(scores, key=scores.get)

df["career_label"] = df.apply(assign_label, axis=1)

In [5]:

# STEP 4: Prepare features and labels
X = df[["avg_db", "avg_ai", "avg_web", "avg_sys", "avg_cs"]]
y = df["career_label"]

# STEP 5: Encode labels
le = LabelEncoder()
y_encoded = le.fit_transform(y)

# STEP 6: Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y_encoded, test_size=0.2, random_state=42)

In [6]:

# STEP 7: Train model
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

# STEP 8: Evaluate model
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred, target_names=le.classes_))

              precision    recall  f1-score   support

          AI       0.80      1.00      0.89         8
          CS       1.00      1.00      1.00        10
          DB       0.80      0.67      0.73         6
         SYS       0.89      1.00      0.94         8
         WEB       0.83      0.62      0.71         8

    accuracy                           0.88        40
   macro avg       0.86      0.86      0.85        40
weighted avg       0.87      0.88      0.87        40

In [7]:
joblib.dump(model, "../final_app/models/career_predictor_model.pkl")
joblib.dump(le, "../final_app/models/label_encoder.pkl")

['../final_app/models/label_encoder.pkl']